<div class="container" *ngIf="book">
  <mat-card class="book-card">
    <mat-card-header>
      <mat-card-title>{{ book.name }}</mat-card-title>
      <mat-card-subtitle>By {{ book.author }}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="details">
        <p><strong>Rating:</strong> {{ book.rating }}</p>
        <p><strong>Number of Pages:</strong> {{ book.numberOfPages }}</p>
        <p><strong>Print Date:</strong> {{ book.printDate | date }}</p>
        <p>
          <strong>Total Number of Books:</strong> {{ book.totalNumberOfBooks }}
        </p>
        <!-- Description card inside the main card -->
        <mat-card class="descr-card">
          <mat-card-header>
            <mat-card-title>Description</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ book.description }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a
        mat-flat-button
        color="primary"
        href="{{ book.bookWebsiteUrl }}"
        target="_blank"
        >Visit Website</a
      >
    </mat-card-actions>
  </mat-card>
</div>
