<div class="container" *ngIf="book">
  <mat-card class="book-card">
    <mat-card-header>
      <mat-card-title>{{ book.name }}</mat-card-title>
      <mat-card-subtitle>By {{ book.author }}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="details">
        <!-- print date  -->
        <div class="details-field" *ngIf="book.printDate"></div>
        <strong>Print Date:</strong> {{ book.printDate | date }}

        <!-- rating -->
        <div class="details-field" *ngIf="book.rating! > 0">
          <strong>Rating:</strong> {{ book.rating }}
        </div>

        <!-- num of pages -->
        <div><strong>Number of Pages:</strong> {{ book.numberOfPages }}</div>

        <!-- number of books  -->
        <div class="details-field">
          <strong>Total Number of Books:</strong> {{ book.totalNumberOfBooks }}
        </div>
      </div>
      <!-- book website button  -->
      <div
        class="details-field url-button"
        *ngIf="book.bookWebsiteUrl || book.bookWebsiteUrl?.length == 0"
      >
        <a
          mat-flat-button
          color="primary"
          href="{{ book.bookWebsiteUrl }}"
          target="_blank"
          >Visit Website</a
        >
      </div>

      <!-- Description card inside the main card -->
      <mat-card class="descr-card">
        <mat-card-header>
          <mat-card-title>Description</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>{{ book.description }}</div>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
