:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
}
/* 
.title-container {
  padding: 9px;
  background: aquamarine;
  display: flex;
  justify-content: space-around;
}

.toolbar-spacer {
  flex: 1 1 auto;
} */
