<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      aria-label="Go home"
      matTooltip="Go to the main list"
      (click)="goHome()"
    >
      <mat-icon>home</mat-icon>
    </button>
    <span>Book storage manager</span>
    <span class="example-spacer"></span>
    <button
      (click)="goToAdd()"
      mat-raised-button
      color="accent"
      matTooltip="Add a new book"
    >
      Add new entry
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
