:host {
  display: flex;
  justify-content: center;
}

.container {
  padding: 5px;
  margin: 16px;
  /* max-width: fit-content; */
}

.mat-mdc-table {
  padding: 2px;
  margin: 5px;
}

.mat-mdc-row {
  margin-top: 3px;
}

.header-card {
  padding: 5px;
  background-color: #9d55bbf2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.view-icon {
  color: wheat;
}

.spacer {
  height: 20px;
}

.add-button {
  margin-inline-end: 2%;
}

.no-books-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}
